datasets
tqdm
zipp
pandas
transformers
accelerate
bitsandbytes
langchain
sentence-transformers
sentence-transformers
langchain_huggingface
openpyxl
pacmap
torch
pandas
faiss-gpu-cu12
matplotlib
tqdm
pandas
langchain
langchain_community
datasets
pprintpp
uuid
nanoid
spacy
setfit
sentencepiece
nltk